h1{
    color: white;

}



#app{
    position: absolute;
    left:-50px;
    top: 150px;
}

#practical{
    position: absolute;
    right:10px;
    top: 150px;
}

*{
    color: white;
}

table {
    width: 1000px;
}

td {
    width: 200px;
}

#app {
    width: 800px;
}

.banner {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}